[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tenacity = "*"
boto = "*"
boto3 = "*"
requests = "*"
aws-sam-cli = "*"

[dev-packages]

[requires]
python_version = "3.9"
