[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tenacity = "==9.1.4"
boto3 = "==1.42.70"
botocore = "==1.42.80"
requests = "==2.33.1"
sentry-sdk = "==2.57.0"

[custom-resource]
crhelper = "==2.0.12"

[dev-packages]
aws-sam-cli = "*"

[requires]
python_version = "3.13"
